page-in-mail {

  ion-label {
    white-space: nowrap;
    color: grey;
    font-size: 15px;
  }


  .scroll-content {
    //background: #45504a;
  }

  .toolbar-background-md {
      background: linear-gradient(#64c8e6, #3bd08b);
  }

}
