page-blog {

    .scroll-content {
      // background: #45504a;
    }

    .toolbar-background-md {
        background: #3bd08b;
    }

  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      background-color: #d2dc11;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }

  }
}
