page-perfil {


    .card.card-md {
        border-top: 3px solid #860aaf;
    }
  
    ion-card-header.card-header.card-header-md {
        text-align: center;
    }

    ion-label {
      white-space: normal;
    }
}
