page-agenda {


  ion-icon.icon.icon-md.ion-md-contact.item-icon {
    color: rgba(199, 15, 214, 0.49) !important;
  }

  b, strong {
   color: #64c8e6;
 }

 ion-label.label.label-md {
    color: #c214e0;
}

}
